.timer{
    margin-top: 20px;
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.field{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.value{
    font-size:40px
}

.label{
    font-size:15px
}